/.vscode
/demo.html
/desktop.ini
/download.pdf
/eclipse - Shortcut.lnk
/Facebook.lnk
/hosts.txt
/html
/icet hall ticket.pdf
/lic 1.jpg
/my doc
/New Microsoft Word Document.docx
/resumes
/temp
/Typing Practice - Lite.lnk
/Veera Docs
/Zoom.lnk